<h1>Showing recipe by id#</h1>

<h3>Name: <%= @product.name %></h3>

<h3>Price: <%= @product.price %></h3>

<h3>Description: <%= @product.description %></h3>
<h3><%= @product.sale_message %></h3>

<h3>Categories:</h3>
<% @product.categories.each do |category| %>
<li><%= category.name %></li>
<% end %>

<%= form_tag("/checkout", method: "post") do %>
  <div>
  <%= label_tag(:quantity, "Quantity:") %>
  <%= text_field_tag(:quantity) %>
  </div>

  <div>
  <%= label_tag :product_id %>
  <%= hidden_field_tag :product_id, @product.id %>
  </div>

  <%= submit_tag("Add to cart") %>
<% end %>

<h3><%= link_to "Edit your product", "/products/#{@product.id}/edit" %></h3>
<h3><a href="/products"</a>Back to all products</h3>
<h3><%= link_to "Delete", "/products/#{@product.id}", method: :delete %></h3>
